<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fansin.message.mapper.PersonMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>


    <select id="exportData" resultType="java.lang.String">
      select CONCAT_WS(',',round(rand()*990000+10000) ,id) from Person
    </select>

</mapper>
